:root {
    --main-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--main-color);
    font-family: "garamond", serif;
}

header {
    height: 150px;
    background-color: rgba(255,255,255,0.75);
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    font-size: 85px;
}

header a {
    text-decoration: none;
    color: var(--main-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 4px 8px;
    font-size: 20px;
    flex: 1, 0, auto;
}

header nav ul li a:hover {
    background: var(--main-color);
    color: white;
}

section {
    padding: 100px;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid var(--main-color);
    padding: 0 100px 5px 100px;
    text-align: center;
    margin: 0 auto 20px auto;
}

.project-photos-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.project-photo {
    margin: 5px;
    flex: 0.5 25%;
    display: flex;
    flex-wrap: wrap;
}

.project-photo img {
    margin-right: 5px;
    margin-bottom: 0px;
    width: 100%;
}

.project-photo img:hover {
    opacity: 25%;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.bio img {
    margin-bottom: 5px;
    margin-right: 20px;
    padding: 50px;
    flex: 1;
    height: auto;
    width: 20%;
}

.bio p { 
    text-align: left;
    font-size: 22px;
    width: 70%;
    margin-bottom: 5px;
    margin-right: 20px;
    padding: 50px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    text-align: center;
    font-size: 23px;
    width: 100%;
}

.contact-info address a {
    color: var(--main-color);
}


/* Media Queries*/

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 50px;
    }

    section {
        padding: 50px;
    }

    .project-photos-section {
        flex-direction: column;
        justify-content: space-between; 
    }

    .section-title {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bio img {
        margin-right: 5px;
        padding: 10px;
    }
    
    .bio p { 
        margin-right: 5px;
        padding: 10px;
    }







/* @media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
      }
      
      .hero-cta {
        text-align: center;
      }

      .section-title {
        width: 80%;
      }
      
      .trainer {
        flex: 0 70%;
      }
      
      .contact-info iframe{
        flex: 1 100%;
      }
  }
  
  @media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
      }
    
      .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
      }
    
      .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    
      .step-text {
        flex: 100%;  
      }
  }
  
  @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
      }
    
      .section-title {
        width: 95%;
      }
    
      .intro p {
        width: 100%;
      }
    
      .trainer {
        flex: 0 100%;
      }
    
      .contact-info {
        text-align: left;
      }
    
      .contact-info > * {
        flex: 0 100%;
      }

      .contact-form {
        order: 3;
      }
  } */

